li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #FDF1B4;
  border-bottom: 2px solid #FDF1B4;
  border-radius: 5px;
  transform: scaleY(2);
  opacity: 0;
  transition: .8s; }

li a:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: .8s;
  border-radius: 5px;
  z-index: -1; }

li a:hover {
  color: black; }
  li a:hover:before {
    transform: scaleY(1);
    opacity: 1; }
  li a:hover:after {
    transform: scaleY(1);
    opacity: 1; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.header_info {
  background-image: linear-gradient(to right, blue, transparent), url("img/img1.jpg");
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  opacity: 0.75;
  /* para que la imagen se ve mas guay */ }
  .header_info .menu_items {
    width: 100%;
    height: 5rem;
    font-size: 24px !important;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 10rem; }
    .header_info .menu_items ul {
      overflow: hidden;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      /* relative to itself */
      height: 10rem;
      display: flex; }
    .header_info .menu_items .menu__item {
      list-style: none;
      float: left;
      height: 5rem;
      margin: 1rem 5rem; }
      .header_info .menu_items .menu__item a {
        padding: 1rem 1.5rem;
        font-size: 32px;
        display: block;
        text-decoration: none;
        background-image: linear-gradient(to right, #feffbb, #1f302a);
        -webkit-background-clip: text;
        color: transparent;
        position: relative;
        transition: .5s;
        z-index: 1;
        margin: 15px 40px; }
  .header_info .menu__item--logo {
    color: black;
    text-align: center;
    padding: 2rem 1.5rem; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: transparent; }
  .header__text-box .heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; }
    .header__text-box .heading-primary .heading-primary--main {
      display: block;
      font-size: 6rem;
      font-weight: 700;
      letter-spacing: 3.5rem;
      background-image: linear-gradient(to right, #2b717a, #095a31);
      -webkit-background-clip: text;
      color: transparent;
      margin-bottom: 1rem; }
    .header__text-box .heading-primary .heading-primary--sub {
      display: block;
      font-size: 2.5rem;
      font-weight: 500;
      letter-spacing: 1.75rem;
      background-image: linear-gradient(to right, #2b717a, #095a31);
      -webkit-background-clip: text;
      color: transparent; }
