$colorPrincipal: #EFB6B6;
$fuentePrincipal: "Lato" ;
$color-gold1: #747447;
$color-gold2:#7c7a12;
$color-gold3:#9c9a12;

$colorFontMain: #031625;

$colorFuente:linear-gradient(to right, #2b717a, #095a31);
$margenSuperior: 50%;

$color-primary-light: #031625;
$fuentePrincipal: "Lato" ;
$color-primary-dark: #031625;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;


//GRID
$cols: 6;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//cartas
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
