.form-section{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: url("img/copas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    @include respond(tab-port) {//900px
        height: 130vh;
    }


    .container_contact{
        margin: auto;
        max-width: 1200px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: 50rem;
        @include respond(phone) {//600px
            width: 90%;
            grid-template-columns:1fr;
            height: 90%;
        }
        @include respond(tab-port) {//900px
            width: 75%;
            grid-template-columns:1fr;
            height: 90%;
        }
        @include respond(tab-land) {//1200px
            width: 90%;
            
        }
        
       
        
        
       // gap: 1.5rem;
       background-color: transparent;

       box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
       border-radius: 10px;
       overflow: hidden;
       backdrop-filter: blur(10px);

        &__form{
            padding: 20px;

            h3{
                font-size: 3.5rem;
                text-transform: uppercase;
                font-weight: 900;
                margin-bottom: 2rem;
                text-align: center;
                color:#054b80;
                margin-top: 2rem;
            }
            .form{
                display: grid;/*uno encima de otro*/
                row-gap: 2rem;
                input::placeholder{
                    color:#74b9ee;
                }
                input,textarea{
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color:#031625;
                    padding: 2.5%;
                    font-size: 1.3rem;
                    color: #9ac6e7;
                    border-radius: 0.6rem;
                }
                textarea{
                    resize: none;
                    height:200px;
                }
                .sent-btn{
                    border: none;
                    outline: none;
                    font-size: 1.8rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    cursor: pointer;
                    background-color:#054b80;
                    color:#031625;
                   
                }
                .sent-btn:hover{
                    background-color:#031625;
                    color: #054b80;
                }
            }

        }
        &__map{
            iframe{
                width: 100%;
                height: 100%;
                 
                @include respond(phone) {//600px
                    width: 100%;
                    height: 400px;
                }
                @include respond(tab-port) {//900px
                    width: 100%;
                    height: 600px;
                }
                @include respond(tab-land) {//1200px
                    width: 100%;
                    height: 800px;
                    
                }       
            }
        }
    }
}

