.row {
    @include clearfix;
    max-width: $grid-width; // different than width
    margin: 0 auto; // trick to center block element inside of another block elements. auto value results in a margin of the same size left and right 
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
        }
    }

    @include respond(tab-port) {
        max-width: 50rem;
        padding: 0 3rem;
    }

    @include clearfix;
    @include colwidth;
    [class^="col-"] {
        //attribute selector
     float: left;
     &:not(:last-child) {
         margin-right: $gutter-horizontal;

         @include respond(tab-port) {
            margin-right: 0;
            margin-bottom: $gutter-vertical-small;
        }        
     }

     @include respond(tab-port) {
        width: 100% !important;
    }

  }

}


.col-1-of-2 h3{
   // background-image:$colorFuente;
    -webkit-background-clip: text;
  //  color: transparent;
    color: $colorFontMain;
    position: relative;
    align-items: center;


}

//Animación de imagenes
.col-1-of-2 img{
    border-radius: .5rem;
    &:hover {
    outline: 1.5rem solid $colorFuente;
    transform: scale(1.05) translateY(-.5rem);
    box-shadow: 0 2.5rem 4rem rgba($color-gold1, 1.5);
    z-index: 30;
    transition: all .2s;
    border-radius:1rem;


}

&:hover &__photo:not(:hover) {
    transform: scale(.95);

}

}